html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-custom{
    background-color: #f05b3d;
}

.navbar-brand{
    padding:1rem 0 1rem 0;
}

.table {
    --bs-table-striped-bg: #edf9fd;
    --bs-table-hover-bg: #fde6e2;
}

.ralign {
    text-align: right;
    margin-right: 1rem;
}